<div class="card card-default">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <p class="mb-0 text-right">
          <a href="{{ post.url }}">Sprawa #{{ post.id }}</a>
        </p>
      </div>
      <div>
        <span class="text-muted" title="Ostatnia aktywność w sprawie: {{ post.updatedAgo }}">
          ostatnia aktywność:
          <b>{{ post.updatedAgo }}</b>
          <i class="fas fa-history"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      Uczestnicy: <b>{{ post.reporterNames|json_encode|raw }}</b>
    </div>
    <div class="list-group-item">
      <div class="d-flex justify-content-between">
        <span>{{ post.authorMention }} napisał(a):</span>
        <a href="{{ post.forumUrl }}">{{ post.forumSlug }}</a>
      </div>
      <div class="post-preview" style="margin: 0.25rem 0;">
        {{ post.preview }}
      </div>
      <i class="fas fa-user-edit"></i>
      <small class="text-muted" title="Post napisany: {{ post.createdAgo }}">
        {{ post.createdAgo }} ({{ post.createdAt }})
      </small>
    </div>
  </div>
</div>
